* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  background-color: black;
}

main{
  position: relative;
}

section {
  position: relative;
  min-height: 100vh;
  border: 2px solid white;
  z-index: 2;
}
